@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Jquery AJAX</h1>
    <p class="lead">$.ajax metodu ile işlem yapılırken bağlantı ayarları için 33 parametre vardır. Bu parametrelerin en sık kullanılanları şunlardır:
    <p>
        <b>url</b> : İşlemin yapılacağı sayfanın ya da servisin (web api veya web servis) linkidir.
    </p>
    <p>
        <b>type</b> : Service yapılacak talebin türüdür. <b>GET, POST, PUT</b> veya <b>DELETE</b>'tir.
    </p>
    <p>
        <b>dataType</b> : Servisten dönen verinin türüdür. Json, xml, javascript (script), text ya da html türünden olabilir.
    </p>
    <p>
        <b>data</b> : Servise veri gönderilmesi durumunda gönderilecek verilerin tanımlandığı parametredir. Değerler {Name:value,...} standartına göre tanımlanır. <b>Örnek</b> : {ad:"ali", soyad:"veli"}
    </p>
    <p>
        <b>timeout</b> : Servisten gelecek yanıtın maksimum gelme süresinin milisaniye cinsinden tanımlandığı parametredir.
    </p>
    <p>
        <b>success</b> : Servisle yapılan veri transferi başarıyla sonuçlandıysa çalışan olaydır. Fonksiyon olarak tanımlanır ve fonksyion parametresinde en fazla 3 değer alır: <b>data</b> (sunucudan dönen veri), <b>textStatus</b> (işlemin statüsünü tanımlar), <b>jqXHR</b> (JqueryXmlHttpRequest)
    </p>
    <p>
        <b>error</b> : Servisle yapılan veri transferi sırasında bir hata oluştuysa çalışan olaydır. Fonksiyon olarak tanımlanır ve fonksyion parametresinde en fazla 3 değer alır. <b>jqXHR</b> (JqueryXmlHttpRequest), <b>textStatus</b> (işlemin statüsünü tanımlar), <b>errorThrown</b> (hata bilgisi)
    </p>
    <p>
        <b>content-type</b> : Servise veri gönderme sırasında gönderilecek verinin türünün tanımlandığı parametredir.
    </p>
    <p>
        <b>css</b> : CSS türünden veri gönderilirken tanımlanan değerdir.
    </p>
    <p>
        <b>javascript</b> : Javascript türünden veri gönderilirken tanımlanan değerdir.
    </p>
    <p>
        <b>jpeg</b> : Jpeg türünden veri gönderilirken tanımlanan değerdir.
    </p>
    <p>
        <b>json</b> : Json türünden veri gönderilirken tanımlanan değerdir.
    </p>
    <p>
        <b>pdf</b> : PDF türünden veri gönderilirken tanımlanan değerdir.
    </p>
    <p>
        <b>text</b> : Text türünden veri gönderilirken tanımlanan değerdir.
    </p>
    <p>
        <b>xml</b> : XML türünden veri gönderilirken tanımlanan değerdir.
    </p>
    </p>
</div>

