
@{
    ViewBag.Title = "ButonaClickTanimlama";
}

<h2>Butona Click Tanimlama</h2>
<input type="button" id="myBtn" value="Tıkla"/>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myBtn").click(function(){
            alert("Tıkladım");
        });
    });
</script>

