
@{
    ViewBag.Title = "EnabledlariSecme";
}

<h2>Sayfadaki <b>enabled</b> nesneleri seçme.</h2>

<input type="text" id="ad" name="ad" />
<input type="text" id="soyad" name="soyad" />
<input type="text" id="yas" name="yas" disabled />

<script type="text/javascript">
    $(document).ready(function () {
        $.enabledElemanlar = $("input:enabled");
        jQuery.each($.enabledElemanlar, function (index, value) {
            alert(value.id);
        });
    });
</script>


