
@{
    ViewBag.Title = "IndexeGoreElemanıSecme";
}

<h2>Jquery'de filtrelenen elemanlardan sıra numarasına (indexine) göre bir elemanı almak için eq(index) fonksiyonu kullanılır. Fonksiyonun parametresinde kaçıncı eleman alınacaksa o elemanın indeksi yazılır. Örnek olarak sayfada name'i nameBilgi olan 3 eleman varsa ve biz ikincisine ulaşmak istiyorsak $("[name='nameBilgi']").eq(1)[0] yazmamız gerekiyor.</h2>

<div name="nameBilgi" id="idAd">Ad</div>
<div name="nameBilgi" id="idSoyad">Soyad</div>
<div name="nameBilgi" id="idTelefon">Telefon</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.nameBilgiNameineSahipOlanlar = $("[name='nameBilgi']");

        $.ikinciEleman = $.nameBilgiNameineSahipOlanlar.eq(1)[0].id;

        alert("eq(1) ile ikinci elamanı seçtik => " + $.ikinciEleman);
    });
</script>


