
@{
    ViewBag.Title = "Index";
}
<hr />
<div class="container body-content">
    <a href="~/Home/JqueryDegiskenTanimlama" class="btn btn-success">Değişken Tanımlama</a>
    <a href="~/Home/JqueryDegiskenIcerisineFonksiyonTanimlama" class="btn btn-success">Değişken içine Fonksiyon Tanımlama</a>
    <a href="~/Home/ButonaClickTanimlama" class="btn btn-success">Butona Click olayı Tanımlama</a>
    <a href="~/Home/DiziTanimlamaVeDegerleriniAlma" class="btn btn-success">Dizi Tanimlama Ve Degerlerini Alma</a>
    <a href="~/Home/TagIleHtmlElemanıSecme" class="btn btn-success">Tag Ile Html Elemanı Secme</a>
    <a href="~/Home/CssIleHtmlElemanıSecme" class="btn btn-success">Css Ile Html Elemanı Secme</a>
    <a href="~/Home/NameIleHtmlElemanıSecme" class="btn btn-success">Name Ile Html Elemanı Secme</a>
    <a href="~/Home/IndexeGoreElemanıSecme" class="btn btn-success">Index'e Gore Elemanı Secme</a>
    <a href="~/Home/OzellikVeTurIleElemaniSecme" class="btn btn-success">Ozellik Ve Tur Ile Elemani Secme</a>
    <a href="~/Home/EtiketinAltEtiketleriniSecme" class="btn btn-success">Etiketin Alt Etiketlerini Secme</a>
    <a href="~/Home/BirdenFazlaDivSecme" class="btn btn-success">Birden Fazla Div Secme</a>
    <a href="~/Home/IsKullanimi" class="btn btn-success">Is Kullanimi</a>
    <a href="~/Home/FirstAndLastKullanimi" class="btn btn-success">First Ve Last Kullanımı</a>
    <a href="~/Home/NotKullanimi" class="btn btn-success">Not Kullanımı</a>
    <a href="~/Home/IndexNumarasinaGoreElemanSecme" class="btn btn-success">Index Numarasina Gore Eleman Secme</a>
    <a href="~/Home/FirstChildKullanimi" class="btn btn-success">First Child Kullanimi</a>
    <a href="~/Home/HasKullanimi" class="btn btn-success">Has Kullanimi</a>
    <a href="~/Home/HiddenlariSecme" class="btn btn-success">Hiddenlari Secme</a>
    <a href="~/Home/VisiblelariSecme" class="btn btn-success">Visible'lari Secme</a>
    <a href="~/Home/DisabledlariSecme" class="btn btn-success">Disable'lari Secme</a>
    <a href="~/Home/EnabledlariSecme" class="btn btn-success">Enabled'lari Secme</a>
    <a href="~/Home/SeciliElemanıAlma" class="btn btn-success">Secili Elemanı Alma</a>
    <a href="~/Home/SeciliOnayKutulariniAlma" class="btn btn-success">Secili Onay Kutularını Alma</a>
    <a href="~/Home/SayfadakiTumNesneleriAlma" class="btn btn-success">Sayfadaki Tum Nesneleri Alma</a>
</div>

