
@{
    ViewBag.Title = "Index";
}
<hr />
<div class="container body-content">
    <a href="~/Home/JqueryDegiskenTanimlama" class="btn btn-success">Değişken Tanımlama</a>
    <a href="~/Home/JqueryDegiskenIcerisineFonksiyonTanimlama" class="btn btn-success">Değişken içine Fonksiyon Tanımlama</a>
    <a href="~/Home/ButonaClickTanimlama" class="btn btn-success">Butona Click olayı Tanımlama</a>
    <a href="~/Home/DiziTanimlamaVeDegerleriniAlma" class="btn btn-success">Dizi Tanimlama Ve Degerlerini Alma</a>
    <a href="~/Home/TagIleHtmlElemanıSecme" class="btn btn-success">Tag Ile Html Elemanı Secme</a>
    <a href="~/Home/CssIleHtmlElemanıSecme" class="btn btn-success">Css Ile Html Elemanı Secme</a>
    <a href="~/Home/NameIleHtmlElemanıSecme" class="btn btn-success">Name Ile Html Elemanı Secme</a>
    <a href="~/Home/IndexeGoreElemanıSecme" class="btn btn-success">Index'e Gore Elemanı Secme</a>
    <a href="~/Home/OzellikVeTurIleElemaniSecme" class="btn btn-success">Ozellik Ve Tur Ile Elemani Secme</a>
    <a href="~/Home/EtiketinAltEtiketleriniSecme" class="btn btn-success">Etiketin Alt Etiketlerini Secme</a>
    <a href="~/Home/BirdenFazlaDivSecme" class="btn btn-success">Birden Fazla Div Secme</a>
    <a href="~/Home/IsKullanimi" class="btn btn-success">Is Kullanimi</a>
</div>

